ID=eyJhbGciOiJIUzI1NiJ9.eyJpZCI6Ijc5MjMyNTI0MzMwMiIsImtleSI6ImQyMjFhYWJjZjllOTkwNWYyYWY5NmE5ZjQwOWYifQ.g78KXnSCxd3uTFacHKnrZkwEIeTJ6t49T5QTFH4HYco
NAME=ALU-GauntletEngine
AVATAR=https://imgur.com
TYPE=bot
MAIN=bot.py
RAM=512
AUTORESTART=true
VERSION=latest
APT=libffi-dev libjpeg-dev zlib1g-dev
